@import 'variables';
@import 'animation';

body, html {
    font-family: $fonts;
    color: $main-color;
    background: #f9f9f9;
    width: 100%;
    height: 100vh;
}

.header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 55px;
}

.nav {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &-title {
        margin: 0;
        font-weight: 800;
        font-size: 22px;
    }

    &-list {
        display: flex;
        gap: 10px;
        font-weight: 600;
        
        &-item {
            transition: all .3s ease-in-out;
            cursor: pointer;
            color: $main-color;

            &:hover {
                color: $hover-color;
            }
        }
    }
}


.intro {
    width: 100%;
    margin-top: 55px;
    padding: 140px 130px;
    display: flex;
    flex-direction: column;
    
    &__greeting {
        display: flex;
        justify-content: space-between;
        width: 100%;   
        
        &-text {
            width: 50%;
            overflow: hidden;

            .fa-github {
                margin-top: 10px;
                font-size: 26px;
                color: #555;
                transition: all .3s ease-in;
                &:hover {
                    color: $hover-color; 
                }
            }
        }
    }

    &__links {
        animation: slideleft 7.1s;
    }


    &-title {
        font-size: 45px;
        font-weight: 900;
        &-hand {
            width: 60px;
            height: 60px;
        }
        animation: slideleft 6s;
    }

    &-about {
        color: #555;
        font-weight: 500;
        animation: slideleft 6.85s;
    }

    &-image {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background-image: url('../images/photo.jpg');
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        border: 3px solid #2d2e32;
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        position: relative;
        transition: all 1s ease-in-out;
        animation: slideright 6.5s;
        animation: morph 8s ease-in-out infinite;
    }

    &__stack {
        display: flex;
        gap: 20px;
        color: #2d2e32;
        font-weight: 600;
        justify-content: flex-start;
        align-items: center;
    }

    &__divider {
        height: 30px;
        width: 2px;
        background-color: #555;
        margin-right: 30px;
    }

    &__list {
        display: flex;
        gap: 10px;

        &-item {
            width: 65px;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0,0,0,.09);
        }

        &-icon {
            width: 35px;
            height: 35px;
        }
    }
}

