@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap");
@-webkit-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
@-webkit-keyframes showup {
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes showup {
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slideleft {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes slideleft {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes slideright {
  0% {
    margin-right: -800px;
  }
  20% {
    margin-right: -800px;
  }
  35% {
    margin-right: 0px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes slideright {
  0% {
    margin-right: -800px;
  }
  20% {
    margin-right: -800px;
  }
  35% {
    margin-right: 0px;
  }
  100% {
    margin-right: 0px;
  }
}
@-webkit-keyframes slideleftslow {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  85% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes slideleftslow {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  85% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes sliderightslow {
  0% {
    margin-right: -800px;
  }
  20% {
    margin-right: -800px;
  }
  85% {
    margin-right: 0px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes sliderightslow {
  0% {
    margin-right: -800px;
  }
  20% {
    margin-right: -800px;
  }
  85% {
    margin-right: 0px;
  }
  100% {
    margin-right: 0px;
  }
}
@-webkit-keyframes sliderightslow1 {
  0% {
    margin-left: 800px;
  }
  20% {
    margin-left: 800px;
  }
  85% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes sliderightslow1 {
  0% {
    margin-left: 800px;
  }
  20% {
    margin-left: 800px;
  }
  85% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}
@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes scroll {
  from {
    top: 10%;
  }
  to {
    top: -75%;
  }
}
@keyframes scroll {
  from {
    top: 10%;
  }
  to {
    top: -75%;
  }
}
@-webkit-keyframes slideleftbig {
  0% {
    margin-left: -1500px;
  }
  85% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes slideleftbig {
  0% {
    margin-left: -1500px;
  }
  85% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes sliderightbig {
  0% {
    margin-left: 1500px;
  }
  85% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes sliderightbig {
  0% {
    margin-left: 1500px;
  }
  85% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@-webkit-keyframes handwave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes handwave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
body, html {
  font-family: "Poppins", sans-serif;
  color: #2d2e32;
  background: #f9f9f9;
  width: 100%;
  height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: #555 rgba(0, 0, 0, 0);
}
body body::-webkit-scrollbar, html body::-webkit-scrollbar {
  width: 5px; /* ширина всей полосы прокрутки */
}
body body::-webkit-scrollbar-track, html body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); /* цвет зоны отслеживания */
}
body body::-webkit-scrollbar-thumb, html body::-webkit-scrollbar-thumb {
  background-color: #555; /* цвет бегунка */
  border-radius: 20px; /* округлось бегунка */
}

html {
  scroll-behavior: smooth;
  scroll-padding: var(--scroll-padding, 5rem);
}

*, html {
  scroll-behavior: smooth !important;
}

.hamburger {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 26px;
  height: 12px;
  cursor: pointer;
}
.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
  margin-bottom: 2px;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}
.hamburger_active span {
  margin-bottom: -2px;
}
.hamburger_active span:nth-child(1) {
  -webkit-transform: translateY(3px) rotate(-45deg);
          transform: translateY(3px) rotate(-45deg);
}
.hamburger_active span:nth-child(2) {
  display: none;
}
.hamburger_active span:nth-child(3) {
  -webkit-transform: translateY(3px) rotate(45deg);
          transform: translateY(3px) rotate(45deg);
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 170px 130px 30px 130px;
  overflow-x: hidden;
  margin: 0 auto;
  /* хром, сафари */
  /* ie 10+ */
}
.container .element::-webkit-scrollbar {
  width: 0;
}
.container .element {
  -ms-overflow-style: none;
}

.header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 55px;
  z-index: 11;
}

.nav {
  width: 100%;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}
.nav-title {
  margin: 0;
  font-weight: 800;
  font-size: 22px;
}
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-weight: 600;
}
.nav-list-mobile {
  display: none;
}
.nav-list-item {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: #2d2e32;
}
.nav-list-item:hover {
  color: #3c97e8;
}

.intro {
  width: 100%;
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.intro__greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.intro__greeting-text {
  width: 50%;
  overflow: hidden;
}
.intro__greeting-text .fa-github {
  margin-top: 10px;
  font-size: 26px;
  color: #555;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-left: 5px;
}
.intro__greeting-text .fa-github:hover {
  color: #3c97e8;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}
.intro__links {
  -webkit-animation: slideleft 7.1s;
          animation: slideleft 7.1s;
}
.intro-title {
  font-size: 45px;
  font-weight: 900;
  -webkit-animation: slideleft 6s;
          animation: slideleft 6s;
}
.intro-title-hand {
  width: 60px;
  height: 60px;
  -webkit-animation: handwave 3s 3;
          animation: handwave 3s 3;
}
.intro-about {
  color: #555;
  font-weight: 500;
  -webkit-animation: slideleft 6.85s;
          animation: slideleft 6.85s;
  width: 100%;
}
.intro-image {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-image: url("../images/photo.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-animation: slideright 6.5s, morph 8s ease-in-out infinite;
          animation: slideright 6.5s, morph 8s ease-in-out infinite;
  z-index: 1;
}
.intro__stack {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  color: #2d2e32;
  font-weight: 600;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slideleft 7s;
          animation: slideleft 7s;
}
.intro__divider {
  height: 30px;
  width: 2px;
  background-color: #555;
  margin-right: 30px;
}
.intro__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.intro__list-item {
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.intro__list-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #aba8a8;
}
.intro__list-icon {
  width: 35px;
  height: 35px;
}

.about {
  width: 100%;
  padding: 140px 0 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__photo {
  height: 100%;
  width: 45%;
  position: relative;
  opacity: 0;
}
.about__corner {
  background-color: #fff;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: absolute;
  bottom: -8%;
  right: -8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__corner-emoji {
  width: 60px;
  height: 60px;
}
.about-rotate {
  border-radius: 50%;
  position: absolute;
  height: 150px;
  width: 150px;
  -webkit-animation: rotate 9s linear infinite;
          animation: rotate 9s linear infinite;
}
.about__text {
  width: 50%;
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  opacity: 0;
}
.about__title {
  color: #147efb;
  font-size: 20px;
  font-weight: 700;
}
.about__subtitle {
  color: #2d2e32;
  font-size: 21px;
  font-weight: 900;
}
.about__description {
  color: #767676;
  font-size: 17px;
  font-weight: 500;
  height: 60%;
  overflow-y: hidden;
  position: relative;
}
.about__description-text {
  position: absolute;
  top: 0;
  -webkit-animation: scroll 5.5s linear infinite;
          animation: scroll 5.5s linear infinite;
  cursor: -webkit-grab;
  cursor: grab;
}
.about__description-text.paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.projects {
  width: 100%;
  overflow-x: hidden;
}
.projects__title {
  color: #147efb;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 35px;
}
.projects__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.projects__card {
  width: 100%;
  height: 350px;
  padding: 20px 15px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
}
.projects__card-image {
  width: 500px;
  width: 50%;
  height: auto;
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 1.7rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow: hidden;
}
.projects__card-site {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 5s ease-out;
  transition: 5s ease-out;
}
.projects__card-site:hover {
  -webkit-transform: translateY(calc(-100% + 375px));
          transform: translateY(calc(-100% + 375px));
  -webkit-transition: 5s ease-out;
  transition: 5s ease-out;
}
.projects__card-text {
  position: relative;
  text-align: center;
  width: 47%;
}
.projects__card-title {
  color: #2d2e32;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  position: relative;
}
.projects__stack {
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects__stack-item {
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000;
  font-weight: 600;
  padding: 15px 15px;
}
.projects__links {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 15px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 20px;
}
.projects__links-item {
  color: #2d2e32;
  font-size: 20px;
  font-weight: 500;
  gap: 5px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.projects__links-item:hover {
  color: #3c97e8;
}

.contacts {
  width: 100%;
  overflow-x: hidden;
}
.contacts-title {
  color: #147efb;
  font-size: 23px;
  font-weight: 700;
}
.contacts-subtitle {
  color: #2d2e32;
  font-size: 33px;
  height: 50px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.contacts__question {
  opacity: 0;
}
.contacts__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2d2e32;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-radius: 15px;
  padding: 10px;
}
.contacts__item:hover {
  color: #3c97e8;
  border: 1px solid #147efb;
}
.contacts__icon {
  width: 75px;
  height: 75px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}
.contacts__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
.contacts__name {
  color: #2d2e32;
  font-size: 22px;
  font-weight: 700;
}

.footer {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-text {
  color: #000;
  font-size: 22px;
  cursor: pointer;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}
.footer-text:hover {
  color: #3c97e8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
@keyframes showup {
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideleft {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes slideright {
  0% {
    margin-right: -800px;
  }
  20% {
    margin-right: -800px;
  }
  35% {
    margin-right: 0px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes slideleftslow {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  85% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes sliderightslow {
  0% {
    margin-right: -800px;
  }
  20% {
    margin-right: -800px;
  }
  85% {
    margin-right: 0px;
  }
  100% {
    margin-right: 0px;
  }
}
@keyframes sliderightslow1 {
  0% {
    margin-left: 800px;
  }
  20% {
    margin-left: 800px;
  }
  85% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes scroll {
  from {
    top: 10%;
  }
  to {
    top: -75%;
  }
}
@keyframes slideleftbig {
  0% {
    margin-left: -1500px;
  }
  85% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes sliderightbig {
  0% {
    margin-left: 1500px;
  }
  85% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}
@keyframes handwave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@media (max-width: 1199px) {
  .container {
    padding: 170px 20px 30px 20px;
  }
  .intro__greeting-text {
    width: 60%;
  }
  .intro-image {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 991px) {
  .intro-title {
    font-size: 37px;
  }
  .intro-about {
    font-size: 17px;
  }
  .intro__stack {
    margin-top: 30px;
  }
  .contacts__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .container {
    padding-top: 130px;
  }
  .intro-title {
    font-size: 34px;
  }
  .intro__stack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .intro__divider {
    display: none;
  }
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__photo {
    width: 90%;
  }
  .about__text {
    width: 100%;
    height: 100%;
    -webkit-animation: slideright 2s;
            animation: slideright 2s;
  }
  .about__description {
    height: 100%;
  }
  .about__description-text {
    position: static;
    -webkit-animation: none;
            animation: none;
    cursor: none;
  }
  .projects__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  .projects__card-image {
    width: 80%;
    height: 250px;
  }
  .projects__card-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .projects__stack {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .projects__links {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .contacts-subtitle {
    width: 100%;
    font-size: 20px;
    height: 25px;
  }
  .contacts__list {
    width: 100%;
  }
  .contacts .contacts__icon {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 576px) {
  .nav-list {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .nav-list-active {
    left: 0;
  }
  .hamburger {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */